{{>partials/header}}
    <a href="">Adicionar Usuario</a>

    <table border="1" width="100%">

    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>

    </table>
{{>partials/footer}}}}